/* --- BANNER HERO (PADRÃO INDEX) --- */
.hero-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
    gap: 0.5rem;
    
}

.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 60rem;
    max-width: 90%;
    height: 35%;
    border-radius: 35px;
    margin-top: 1.5rem;
    padding: 30px 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-content h1 { 
    font-size: 25pt;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    
}

.hero-content p { 
    font-size: 18px; 
    margin-bottom: 10px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}

.hero-content span { color: #ffcb05; }

.hero-image img { 
    width: 20rem;
    max-width: 45%;
    position: absolute; 
    bottom: -25px; 
    right: -20px; 
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.5)); 
}

.carousel-container {
    position: relative;
    width: 1060px;
    max-width: 72%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divUltimasComparacoes {
    width: 100%;
    min-height: 40%;
    padding: 2.8rem 0rem 0rem 0rem;
    margin-bottom: 3rem;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 1rem;
}

.arrow-btn {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%; 
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
}

.arrow-btn:hover {
    background: rgba(255, 255, 255, 0.6);
    transform: translateY(-50%) scale(1.1); 
    color: #4d8c18; 
}

.arrow-btn.left { left: -60px; }
.arrow-btn.right { right: -60px; }

#divUltimasComparacoes::-webkit-scrollbar{
    height: 10px;
    width: 8px;
}

#divUltimasComparacoes::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 3rem;
}

#divUltimasComparacoes::-webkit-scrollbar-thumb {
  background: #d3d3d3; /* Cor da alça */
  border-radius: 10px;
}

#divUltimasComparacoes::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da alça ao passar o mouse */
}

/* --- GRID E SLOTS DE COMPARAÇÃO --- */
.card-add-content {
width: 100vw;
height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 8%;
padding: 2%;
visibility: hidden;
}

/* Slot Vazio com "+" */
.card-add-empty {
    background: rgba(255, 255, 255, 0.2);
    height: 420px;
    width: 250px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;     
}

.card-add-empty:hover { transform: scale(1.05); }

.card-add-empty-circle {
    background: rgba(129, 129, 129, 0.1);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-add-empty-circle h1 { 
    font-size: 100px; 
    font-weight: 100; 
    color: rgba(255, 255, 255, 0.2); 
    margin: 0;
}

#vs-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vs-button button {
    border: 1px solid white;
    background: linear-gradient(to bottom, #ffee00 0%, #c95b00 100%);
    color: white; 
    padding: 15px 40px;
    border-radius: 30px; 
    font-weight: bold; 
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

/* --- CARD PREENCHIDO (ESTILO BULBASAUR) --- */
.card-add { 
    width: 250px; 
    height: 420px; 
    display: flex; 
    flex-direction: column; 
    animation: slideUp 0.3s ease forwards;
}

.card-add-head {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.card-img {
    position: absolute;
    bottom: 20px;
    flex: 0 0 calc(33.333% - 7px); 
    left: 5%;   
    width: 85%;
    z-index: 10;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.526));
    animation: slideUp 0.6s ease forwards;
}

/* PAINEL DE VIDRO*/
.card-add-head-title {
    position: absolute; 
    bottom: 0;
    z-index: 20; 
    width: 100%; 
    height: 70px;         
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(20px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px; 
    padding: 15px 20px; 
    display: block; 
}

.card-add-head-title .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-add-head-title .pokemon-name {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin: 0;
}

.card-add-head-title .pokemon-number {
    font-size: 0.9rem;
    color: white;
    font-weight: normal;
    opacity: 0.8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.card-add-head-title .types-wrapper {
    display: flex;
    gap: 5px;
    margin-top: 8px; /* Espaço entre nome e badges */
}

/* --- SEÇÃO DE STATUS INFERIOR --- */
.card-add-info-content {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    list-style: none;
}

.card-add-info {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px 0;
    background: linear-gradient(to bottom, #a5d63f, #4d8c18);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    animation: slideUp 0.8s ease forwards;
}

.battle-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 8%;
    padding: 2%;
    display: none;
}

#battleDiv {
    width: 100vw;
    height: 100vh;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

#winner-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#winner-column div {
    justify-items: center;
    max-width: 90%;
}

#winner-pokemon-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    font-size: 30pt;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
}

.imagem-pokemon-winner {
    width: 30rem;
    max-width: 100%;
}

.imagem-winner {
    width: 22rem;
    max-width: 100%;
    padding: 3rem 0rem 3rem 0rem;
}

#buttonFecharWinner:hover{
    background: rgba(255, 255, 255, 0.3);
    
}

@keyframes slideUp {
    from { transform: translate(0%, -30%); opacity: 0; }
    to { transform: translate(0%, 0%); opacity: 1; }
}

@keyframes battleWin {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* --- SEÇÃO MODAL COMPARE --- */

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 600px;
    max-width: 80%;
    max-height: 80%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(20px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    z-index: 20;
    padding: 1.5rem;
    animation: modalAnimation 0.3s ease forwards;
}

@keyframes modalAnimation {
    from { transform: translate(-50%, 0%); opacity: 0; }
    to { transform: translate(-50%, -50%); opacity: 1; }
}

/* --- BARRA DE BUSCA E ORDENAÇÃO --- */
.search-sort-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: end;
    width: 100%;
    height: 15%;
    min-height: 4rem;
    align-items: center;
    border-bottom: 1px solid white;
    gap: 15px;
    align-items: center;
}

.search-container {
    display: flex;
    flex: 1;
    min-width: 70%;
    background: rgba(255,255,255,0.7);
    border-radius: 30px;
    padding: 12px 25px;
    backdrop-filter: blur(10px);
}

.search-container input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-left: 10px;
}

.sort-container {
    background: linear-gradient(to bottom, #a5d63f, #4d8c18);
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.sort-container:hover { 
    transform: translateY(-2px); 
    filter: brightness(1.1); 
}

#buttonFecharX{
    background: linear-gradient(to bottom, #a5d63f, #4d8c18);
    color: white;
    padding: 10px 16px;
    border-radius: 25px;
    border: 1px solid #fff;
    align-items: center;
    font-weight: 500;
    font-size: 16pt;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

#buttonFecharX:hover {
    transform: translateY(-2px); 
    filter: brightness(1.1); 
}

#buttonFecharXModalWinner{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: linear-gradient(to bottom, #a5d63f, #4d8c18);
    color: white;
    padding: 10px 16px;
    border-radius: 25px;
    border: 1px solid #fff;
    align-items: center;
    font-weight: 500;
    font-size: 16pt;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

#buttonFecharXModalWinner:hover {
    transform: translateY(-2px); 
    filter: brightness(1.1); 
}

#modal-body {
    width: 95%;
    height: 80%;
    position:absolute;
    left: 50%;
    padding: 1rem;
    translate: -50%;
    bottom: 0px;
    display: grid;
    overflow-y: auto;
}

#modal-body-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(240px, 1fr));
    gap: 55px 25px;
}

#modal-body::-webkit-scrollbar{
    width: 8px;
}

#modal-body-grid::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 1rem;
}

#modal-body-grid::-webkit-scrollbar-thumb {
  background: #d3d3d3; /* Cor da alça */
  border-radius: 10px;
}

#modal-body-grid::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da alça ao passar o mouse */
}

